---
layout: postlist
---

 <section class="postlist" itemscope="itemscope" itemtype="http://schema.org/Blog">

      {% for post in site.categories.blog %}

        <div class="details">

          <time class="time" itemprop="datePublished" datetime="{{ post.date | date:'%Y-%m-%d' }}">
            {% datelang post %}
            {% include datelang/post %}
          </time>

          {% if post.comments and loadData.userdata.disqus.username %}
            <div class="count-comments">
              <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}">0</span>
            </div>
          {% endif %}

          <div class="postlink">

            <h1 class="title"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            {% if post.excerpted %}
              <p class="excerpted">
                {{ post.excerpted | strip_html | truncatewords:26 }}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="continue">{{ loadData.website.strings.postlist.continue }}</a>
              </p>
            {% endif %}

          </div>

        </div>
      {% endfor %}

      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer.html %}

    </section>