    <section class="author" itemprop="author">
      {% if loadData.website.post.author.image %}
      <div class="author__details" itemscope itemtype="http://schema.org/Person">
        <div class="author__image">
          <img itemprop="image" src="{{ '/assets/images/author' | prepend: site.baseurl | prepend: site.url }}/{{ loadData.website.post.author.image }}" alt="">
        </div>
        {% endif %}
        <div class="author__bio">
          <p class="author__title" itemprop="title">{{ loadData.website.post.author.title }}</p>
          <p class="author__name" itemprop="name">{{ loadData.website.post.author.name }}</p>
          <p class="author__content">{{ loadData.website.post.author.bio }}</p>
        </div>
      </div>
    </section>