<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JQuery -->
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<!-- Script JS specific for each pages
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% for script_js in page.script_js %}
   <script type="text/javascript" src="{{ '/assets/js/' | prepend: site.baseurl | prepend: site.url  | append: script_js }}"></script>
{% endfor %}

<!-- Script HTML specific for each pages
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% for script_html in page.script_html %}
   {% include scripts/{{script_html}} %}
{% endfor %}


<!-- Google Analytics - Events Post -->
{% include scripts/ga_events_links_post.html %}

<!-- Global script - Not conflict
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ '/assets/js/global.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
