<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JQuery -->
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<!-- Script JS specific for each pages
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% for script_js in page.script_js %}
   <script type="text/javascript" src="{{ '/assets/js/' | prepend: site.baseurl | prepend: site.url  | append: script_js }}"></script>
{% endfor %}
<!-- If the Hello Page is false, add 'script js' of search on the home page -->
<!-- {.% if site.plugin.hellopage.enable == false and page.url == '/' %.} -->
<!--   {.% for post in site.categories.blog %.}
    {.% for script_js in post.script_js %.}
      <script type="text/javascript" src="{.{ '/assets/js/' | prepend: site.baseurl | prepend: site.url  | append: script_js }.}"></script>
    {.% endfor %.}
  {.% endfor %.} -->
<!-- {.% endif %.} -->

<!-- Script HTML specific for each pages
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% for script_html in page.script_html %}
   {% include scripts/{{script_html}} %}
{% endfor %}
<!-- If the Hello Page is false, add 'script html' of search on the home page -->
<!-- {.% if site.plugin.hellopage.enable == false and page.url == '/' %.} -->
<!--   {.% for post in site.categories.blog %.}
    {.% for script_html in post.script_html %.}
      {.% include scripts/{{script_html}} %.}
    {.% endfor %.}
  {.% endfor %.} -->
<!-- {.% endif %.} -->

<!-- Add 'ga' function from Google Analytics to certain links in Posts.
     Event tracking in Google Analytics
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% if dbase.website.google.analytics.events == true and page.ga_event == true %}
<script type="text/javascript">
  jQuery(document).ready(function($) {

    $('.post > .row.content a').addClass('ga-event');

    $('.post > .row.content li a').removeClass('ga-event');

    $('a.ga-event').attr('onclick', 'ga(\'send\',\'event\',\'linkTo\',this.href,\'{{ site.url }}{{ site.baseurl }}{{ page.url }}\');');

  });
</script>
{% endif %}

<!-- Global script - Not conflict
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ '/assets/js/global.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
