<!-- Add 'ga' function from Google Analytics to certain links in Posts.
     Event tracking in Google Analytics
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% if loadData.website.google.analytics.events == true and page.ga_event == true %}
<script type="text/javascript">
  jQuery(document).ready(function($) {

    $('.post__content a').addClass('ga-event');

    $('#markdown-toc li a').removeClass('ga-event');

    $('a.ga-event').attr('onclick', 'ga(\'send\',\'event\',\'linkTo\',this.href,\'{{ site.url }}{{ site.baseurl }}{{ page.url }}\');');

  });
</script>
{% endif %}