---
layout: compress
---

<!-- Include Liquid _data/data
___________________________________________ -->
{% include liquid/data %}


{% if loadData.website.maintenance.enable == false %}
<!DOCTYPE html>
<html lang="{{ loadData.website.metatag.locale }}" itemscope itemtype="http://schema.org/WebPage">

  <!-- Head
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/head.html %}

  <body>

  <!-- Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/nav/default.html %}

    <div class="about" itemprop="mainContentOfPage">

      <div class="title">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="content">
        {{ content }}
      </div>

      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer/default.html %}

    </div>

    <!-- Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include scripts/default.html %}

  </body>

</html>
{% else %}
  {% include partials/maintenance/default.html %}
{% endif %}