---
layout: compress
---

<!-- Include Liquid _data/data
___________________________________________ -->
{% include liquid/data %}


{% if loadData.website.maintenance.enable == false %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

  <!-- Head
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/head.html %}

  <body>

  <!-- Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/nav/default.html %}

    <main class="main" id="top" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">

      <div class="container wrapper">
        <div class="content-main">
          {{ content }}
        </div>
      </div>

      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer.html %}

    </main>

    <!-- Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include scripts/default.html %}

  </body>

</html>
{% else %}
  {% include partials/maintenance/index.html %}
{% endif %}