---
layout: compress
---

<!-- Include Liquid _data/data
___________________________________________ -->
{% include liquid/data %}


{% if loadData.website.maintenance.enable == false %}

<!DOCTYPE html>
<html lang="{{ loadData.website.metatag.locale }}" itemscope itemtype="http://schema.org/WebPage">

  <!-- Head
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/head.html %}

  <body>

  <!-- Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/nav/default.html %}

    <div class="hellopage" itemprop="mainContentOfPage">

      <div class="content">

        <section class="intro">
          <h1>Hello!</h1>
        </section>

        <section class="about">
          <h2 id="about-hellopage">About</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos neque deleniti rerum voluptatibus odio totam nostrum architecto eum perferendis alias molestias tempora sunt, accusantium ab quia beatae repellat consequatur?</p>
        </section>

        <section class="services">
        <h2>Services</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quam laudantium at repellat vel, voluptates soluta vero, consequuntur blanditiis assumenda, dolorum reiciendis obcaecati. Aperiam doloribus culpa ipsa, laboriosam similique. Optio.</p>
        </section>

      </div>

      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer/default.html %}

    </div>

    <!-- Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include scripts/default.html %}

  </body>

</html>

{% else %}

  {% include partials/maintenance/default.html %}

{% endif %}
