---
layout: compress
---

<!-- Include Liquid _data/data
___________________________________________ -->
{% include liquid/data %}


{% if loadData.website.maintenance.enable == false %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">

  <!-- Head
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/head.html %}

  <body>

  <!-- Nav with search
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/nav/search.html %}


    <!-- Header post (banner)
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include partials/post/header.html %}

    <section class="post" itemscope="itemscope" itemtype="http://schema.org/Blog">

      <!-- Meta (Date,Counter comments,Tags,Readingtime)
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/post/meta.html %}

      <article role="article" id="post" class="post-content" itemprop="articleBody">
        {{ content }}
      </article>

      <!-- Share in socials
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/post/share.html %}
      <!-- Author posting
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/post/author.html %}
      <!-- Disqus comments
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/post/disqus.html %}
      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer.html %}

    </section>


    <!-- Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include scripts/default.html %}

  </body>

</html>
{% else %}
  {% include partials/maintenance/index.html %}
{% endif %}