---
layout: compress
---

<!-- Include Liquid _data/data
___________________________________________ -->
{% include liquid/data %}


{% if loadData.website.maintenance.enable == false %}

<!DOCTYPE html>
<html lang="{{ loadData.website.metatag.locale }}" itemscope itemtype="http://schema.org/BlogPosting">

  <!-- Head
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/head.html %}

  <body>

    <!-- Nav with search
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include partials/nav/default.html %}


    <!-- Header post (banner)
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include partials/projectslist/header.html %}

    <section class="projectslist" itemscope="itemscope" itemtype="http://schema.org/Blog">

      {% for project in site.projects %}

      <div class="details">
        <div class="title">
          <h1>{{ project.title }}</h1>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>

      {% endfor %}

      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer/default.html %}

    </section>

    <!-- Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include scripts/default.html %}

  </body>

</html>

{% else %}

  {% include partials/maintenance/default.html %}

{% endif %}
