---
layout: compress
---

<!-- Include Liquid _data/data
___________________________________________ -->
{% include liquid/data %}

{% if loadData.website.maintenance.enable == false %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">

  <!-- Head
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/head.html %}

  <body>

  <!-- Nav with search
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include partials/nav/search.html %}


    <!-- Header post (banner)
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include partials/tags/header.html %}

    <section class="tags" itemscope="itemscope" itemtype="http://schema.org/Blog">

      <div class="details">
<div class="tags-content" id="tags-content">
  <div class="container-fluid">
    <div class="wrap">
    <div class="row-fluid">
      <div class="cloud-icon">
        <i class="fa fa-cloud" aria-hidden="true"></i>
      </div>
      <div class="panel-group" id="accordion">
      {% for tag in site.tags %}
        <div class="{% if site.animations.tags == 'yes' %} wow fadeInUp {% endif %} panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" >
            <!-- <i class="fa fa-minus-square" aria-hidden="true"> -->
             <a class="tag-name" id="{{ tag[0] }}" data-toggle="collapse" data-parent="#accordion" href="#{{ tag[0] }}_expanded">
               <span>+</span>{{ tag[0] }}
             </a>
             <span class="badge pull-right">{{ tag[1].size }}</span>
            </h4>
          </div>
          <!-- Include class 'in' after 'collapse' for expand -->
          <div id="{{ tag[0] }}_expanded" class="panel-collapse collapse content-tags">
            <div class="panel-body">
              {% for post in tag[1] %}
                <li class="list-group-item">
                  <span class="label label-info pull-right">
                    {{ post.date | date_to_string }}
                  </span>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="cloud-icon bottom">
        <i class="fa fa-cloud" aria-hidden="true"></i>
      </div>
    </div>
    </div>
  </div>
</div>


      </div>

      <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include partials/footer.html %}

    </section>

    <!-- Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include scripts/default.html %}

  </body>

</html>
{% else %}
  {% include partials/maintenance/index.html %}
{% endif %}
