<header class="header-postlist" role="banner">
  <div class="header-postlist__content">
  {% if loadData.website.postlist.header.style == 'text' %}
    <h1 class="header-postlist__title" itemprop="name">{{ loadData.website.postlist.header.text.title }}</h1>
      <p class="header-postlist__subtitle" itemprop="description">{{ loadData.website.postlist.header.text.subtitle }}</p>
  {% else if  loadData.website.postlist.header.style == 'art' %}
    Include Art here
  {% else %}
  <h1>Error Header</h1>
  {% endif %}
  </div>
</header>
